@font-face{
    font-family:'B Yekan';
    src:url("../font/web_Yekan.eot");
    src:url("../font/web_Yekan.eot?#iefix") format("embedded-opentype"),url("../font/web_Yekan.woff") format("woff"),url("../font/web_Yekan.ttf") format("truetype"),url("../font/web_Yekan.svg#web_Yekan") format("svg");
    font-style:normal;
    font-weight:normal;
    text-rendering:optimizeLegibility;
}


body{
    margin: 0;
    padding: 0;
    font-family: 'B Yekan';
    font-size: 14px;
    color: #333;
    background-color: #F1F1F1;
    text-align: right;
    direction: rtl;
}

a, a:hover{
    text-decoration: none;
    color: #616161;
}

h1,h2,h3{
    font-size: 16px;
}

ul{
    margin: 0;
    padding: 0;
}

.margin-top-10{ margin-top: 10px}
.margin-top-15{ margin-top: 15px}
.margin-right-10{ margin-right: 10px}
.margin-right-15{ margin-right: 15px}
.margin-bottom-10{ margin-bottom: 10px}
.margin-bottom-15{ margin-bottom: 15px}
.margin-left-10{ margin-left: 10px}
.margin-left-15{ margin-left: 15px}


.navbar-brand i{
    position: relative;
    top: 4px;
}


.seperator{
    background-color: #ddd;
    height: 2px;
    margin: 15px auto;
}

.item{
    display: block;

}

.title{
    margin: 10px 0 0 0;
    height: 40px;
    overflow: hidden;
}


footer{
    background-color: #555;
    padding: 30px 0;
    color: #fff;
    margin: 20px 0 0 0;
}




/* detail */
video{
    max-width: 100%;
    max-height: 100%;
}
.detail-title{ margin-bottom: 25px }

.side-title{
    padding: 0 35px 0 0;
}

.side-body ul{
    list-style-type: none;
}
.side-body ul li{
    margin-bottom: 25px;
}
.side-body ul li .text{
    margin: 10px 0 0 0;
}

.detail-tags{
    padding: 15px 0;
}

.detail-tags ul{
    list-style-type: none;
}

.detail-tags ul li{
    display: inline-block;
    margin: 0 0 0 10px;
}

.detail-tags ul li a{
    padding: 5px 15px;
    background-color: #CE4844;
    color: #fff;
    font-size: 12px
}

@media (min-width: 992px) {
    #app{ min-height: 535px }
}
